/*Global Styles*/

html {

align-content: center;
font-size: 16px;
line-height: 1.4rem;
    overflow-x: hidden;
    font-family: Raleway, Helvetica, sans-serif;
}





a {
    color: grey;
    text-decoration: none;
}

 a:hover {
        color: lightblue;
    }

.top.outer, .low.outer, #guestspeaker {


    background-color: hsla(262, 7%, 82%, 1)
}


img {
    width: 100%;

}

body {
    overflow-x: hidden;

}

.clearer {
 height:1px;
 overflow:hidden;
 clear:both;
 margin-top:-1px;

}


/*
depreciated .inner:not(.header):not(.footer)  {
   /*border: 1px solid blue; test only
    width: 100%;
    display: inherit;
    flex-shrink: 2;

}
*/

.outer:not(.header):not(.footer) {
/*border: 1px solid red; test only*/
     padding: 2rem 1.5rem;
    display: inline-flex;
    position: relative;

}


.header.outer, .footer.outer {
   background-color: white;

   text-align: center;
   top:0;
   left:0;
    right: 0;
    border-bottom: 1px hsla(262, 7%, 82%, 1) solid;
    margin: 1rem 1.5rem;
}

.footer {
    border-top: hsla(262, 7%, 82%, 1);
    border-bottom: none;
}

.header.inner, .footer.inner {
    width: 100%;


}

#topnav {
    display: inline;
   vertical-align: middle;
   line-height: 2rem;
    float: right;
}

#topnav a {
   text-decoration: none;
   color: black;
   padding: 0px .5rem;
}

#mobilenav {
    display: none;
}

.logo {
display: inline-flex;
vertical-align: middle;
line-height: 2rem;
float: left;
}

.logo span {
vertical-align:
}

#colmar {
   font-weight: 700;
}


/*top section*/

.imgbox {
   width: 60%;
}

.imgbox img {
    width: 100%;
}

.tagline {
  position: ;

    height: 100%;
    width: 40%;
   padding-left: 2rem;
    box-sizing: border-box;
    color: hsla(123, 0%, 21%, 1);
        font-weight: 400;
    font-family: Catamaran;
    display: flex;
    flex-basis: column;
    flex-wrap: wrap;




}

h1 {
    display: inherit;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 1000;
    color: hsla(123, 0%, 21%, 1);
    font-family: Catamaran;
    flex-shrink: 2;
}

.tagline p {
    font-size: 2rem;
    line-height: 2.5rem;
    position: ;
    bottom: 30%;
    left: 10%;

}

.button {

    background-color: hsla(112, 0%, 36%, 1);
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    flex-shrink: 2;



}




.mid.inner {
    display: inline-flex;
}

.bigimg {
    width: 60%;
    padding-right: 24px;


}

.bigimg h1 {
    margin: 2rem 0 1.5rem 0;
}

.bigimg p {
    width: 80%;
}
.bigimg aside {
    margin: 2rem 0;
}




.midinfoboxes {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    margin-top;
    position: relative;
    padding: 0;

}

.midinfoboxes:after, .right:after {  /*look into this functionality, from https://stackoverflow.com/a/12801460 */
  content:"";
  background-color: hsla(262, 7%, 82%, 1);
    background-image: linear-gradient(to right, hsla(0,0%,100%,1), hsla(0,0%,100%,.5));
  position: absolute;
  top: 2%;
  left: 0%;
  height: 70%;
  width: 10px;
    z-index: 0;
}

.right:hover {

    background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,100%,.1));
}




.midbox {
    position: relative;
    z-index: 5;
    height: 33%;


}
#campus:after {  /*look into this functionality, from https://stackoverflow.com/a/12801460 */
  content:"";
  background: hsla(262, 7%, 82%, 1);

  position: absolute;
  top: 0;
  left: 5%;
  height: 2px;
  width: 90%;
}

.midboximg {
    width:35%;
    height: auto;
    padding: 1rem;
}

#orientation .midboximg {
    padding-top:0
}



.infoboxinfobox {
    position: absolute;
    margin: .0rem;
    top: 0%;
    right: -7%;
    width: 65%;
    height: 20%;
}

.infoboxinfobox h2 {

}

.infoboxinfobox p {
    width: 90%;
}

.infoboxinfobox a {
    text-decoration: none;
    color: grey;

}
 a:hover {
        color: lightblue;
    }


.mobileimg {
  display: none;
}



/*3rd box from bottom, class offerings*/
.low.outer {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.low.outer h1, .lowest.outer h1 {
    align-self: center;
}

.offerlist {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
    margin: 0 5%;
    align-content: center;


}

.offerbox {
    display: inline-flex;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: space-between;
    width: 30%;
    margin: 1rem;
    box-sizing: border-box;
    background-color: white;
    align-content: center;

}

.offerbox img {
    width:100%;
}

.offertext {
    width: 90%;
    margin: 1rem;
    
}
.offerbox a  {
text-decoration: none;
    color: grey;
    
    
}

.offerbox a:hover {
    color:lightblue;
}
/*THESIS SEGMENT, LOWEST*/

.lowest.outer {
    display: flex;
    flex-direction: column;
}




.lowestcontent {
    display: flex;
    justify-content: space-between;
}

.videobox {
    width: 60%;
}

video {
    width: 100%;
}

.videoinfo {
    padding: 1rem;
}

.right {
    width: 40%;
    position: relative;
    Margin: 0 10px;
}

#fisma {
margin: -1rem 0 1.5rem 0;
}

#nyc {
margin: 1rem 0 1.5rem 0;
}

#copyright {
    float: left;
}
#footernav {
    float: right;
    margin: 10px;
    vertical-align: middle;
}

#footernav a {
    text-decoration: none;
    color: grey;
}





/*MOBILE STYLES */

/*header breaks around 615*/ @media only screen and (max-width: 620px) {

    /*header*/

    .logo {
        display: none;
    }
    #topnav {
        display: none;
    }

    #mobilenav {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;

    }


}


/*mobile*/ @media only screen and (max-width: 500px)
{
    html {
        padding: 0;
        margin: 0;
    }
    
   
    .outer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .top {
        margin: 0;
        padding:0;
    }

    h1 {
        font-size: 11vw;
        text-align: center;
    }

    .imgbox {
       width: 100%;
    }

    .tagline p {
        font-size: 8vw;
    }
    .tagline {
        display: flex;
        width: 80%;
        align-self: center;
        margin: auto;
        padding: 0;
        text-align: center;
    }

    .button {
        margin: 0;
        width: 100%;
    }

    .bigimg {
        display: none;
    }

    .midinfoboxes {
        display: flex;
        width: 100%;

    }

    .midbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: inherit!important;
        text-align: center;
    }
    .midboximg {
        width:100%;
        padding: 0;
    }

    .midinfoboxes:after, .right:after {
        content:"";
        display: none;
    }
    
    .midbox:after, #campus:after {
         content:"";
  background: hsla(262, 7%, 82%, 1);

  position: absolute;
  top: -4px;;
  left: 0;
  height: 2px;
  width: 100%;
    }
    
    .infoboxinfobox {
        position: relative;
        right: 0;
        text-align: center;
        width: 100%;
        padding: 0 0 .5rem 0;
        margin: 0;
        height: auto;
        align-self: center;
    }
    
    .infoboxinfobox p {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    
.desktopimg {
  display: none
}

.mobileimg {
  display: inline;
    width: 100%;
}
    
/*Course offering section*/
    .low.outer {
        background-color: white; /*notworking*/
    }
    
    .offerbox {
       Margin: .5rem 0;
        
        background-color: hsla(262, 7%, 82%, 1);
    }
    .offerbox img {
        display: none;
    }
    
    .offerlist {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        
    }
    
    .offerbox, .offertext {
        width: 100%;
        color: hsla(1, 0%, 10%, .7);
    }
    
    .offertext h4, .offertext p {
        display: none;
        
    }
    
    
    /*thesis part*/
    
    .lowestcontent {
        flex-direction: column;
    }
    .videobox {
        width: 100%;
    }
    
    
    #fisma img, #nyc img {
        display: block;
        width: 70%;
        align-self: center;
        margin: auto;
    }
    
    .midbox a
    {
        text-decoration: none;
        color:grey;
 
    }
    
    
    
    #fisma a, #nyc a {
        color: black;
    }
   
     a:hover {
        color: lightblue;
    }
    
    #fisma a:hover, #nyc a:hover {
        color: lightblue;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    

}











/*pre-written content*/


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*mobile styles*/



    /*.container {
        width: 100%;
    }
    .topwrapper {
        background-position: 20%;
        height: 17rem;
    }
    .tagline span {
        text-align: center;
        top: 10rem;
        padding: 1rem;
        font-size: 1rem;
        position: relative;
        width: 100%;


     }
    .tagline {
        width: 100%;
        background-color: white;
    }


     .imagesboxes {
        padding: 3.77rem 0rem;
        flex-direction: column;
     }
     .blurbs {
       flex-direction: column;

     }

     .blurbbox {
        float: center!important;
         width: 100%;
     }

     /*fonts to .77rem*/

     /*
     .imagebox span,
     .blurbs h3,
     .blurbs p {
        font-size: .77rem;

     }

     .blurbs p {
        padding-bottom: 4rem;
     }

    .bheadmobile {
        width: 100%;
        background-color: cadetblue;
    }
    header span,
    footer span {
        display: none;
    }

    .active {
        display: inline;
    }
    .navclass a:not(.active){
      display: none;
      float: center;
      align-self: center;
   }

   /*.navclass.responsive {position: relative;} */
/*
   .navclass.responsive a,
   .navclass.responsive li {
      float: center;
      display: block;
      text-align: center;
   }

}
*/


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

 @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
      =  page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
